.navbar {
    background-color: #5c6bc0;
}

hr {
    display: block;
    height: 1px;
    min-height: 1px;
    flex: 1;
    width: 100%;
}


#sidebar {
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 9999;
    background: white;
    overflow-y: auto;
    overflow-x: hidden;
    transition: left 0.3s;
}

@media (min-width: 300px){
    #sidebar {
        width: 295px;
        left: -295px;
    }
}

@media (min-width: 600px){
    #sidebar {
        width: 315px;
        left: -315px;
    }
}

@media (min-width: 900px){
    #sidebar {
        width: 325px;
        left: -325px;
    }
}

@media (min-width: 1200px){
    #sidebar {
        width: 335px;
        left: -335px;
    }
}

#sidebar.active {
    left: 0;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:  #212121;
}

.overlay.active {
    display: block;
    opacity: 0.5;
    z-index: 9998;
}

#sidebar .sidebar-header {
    background: #f5f5f5;
    width: 100%;
    margin-bottom: -17px;
    cursor: default;
}

#sidebar tr {
    background: #f5f5f5;
    cursor: pointer;
}

.navbar-button{
    display:inline-block;
    font-size: 35px;
    text-align: center;
    vertical-align: bottom;
    width: 50px;
    height: 50px;
}


.navbar-button:hover {
    background: rgba(245, 245, 245, 0.3);
}
.navbar-button .line{
    width: 100%;
    float: right;
    height: 4px;
    background-color: #fff;
}

.navbar-button .line:not(:last-child){
    margin-bottom: 5px;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255,65,255,.25);
}

.forw-arrow {
    width: 60px;
    height: 60px;
    border:none;
    background: inherit;
    transition: background .4s;
}

.forw-arrow:hover {
    background: lightgrey;
}

.forw-arrow:focus {
    outline: none;
}

#nav-title {
    width: 60vw;
}

.col-4,.col-8 {
    padding: 0!important;
}

.cc-sel {
    border: 0;
    color: #1976d2;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-bottom-width: 1px; 
    border-bottom-style: solid;
    appearance: none;
    outline: none;
    background:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #f8f9fa, white);
    
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
}

.cc-sel:focus {
    background:
    linear-gradient(135deg, transparent 50%, gray 50%),
    linear-gradient(45deg, gray 50%, transparent 50%),
    linear-gradient(to right, #f8f9fa, white);
    
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
}

select:before {
    content: "dsaffffffffffffffffffff";
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

option:checked {
    color: #1976d2;
}

.custom-select-lg {
    padding-left: 0!important; 
    font-size: 1rem!important;
}

select:focus {
    outline:none;
}

.h4 {
    margin-bottom: 0!important;
}

.progress {
    height: .3rem!important;
}

.nohover:hover {  
    background: inherit!important; 
}

#upBut {
    right: 16px;
    bottom: 16px;
    width: 60px; 
    height: 60px; 
    background: rgb(170, 48, 170);
    z-index: 1100;
}

.arrow-up::after {
    content: '↑';
}

.arrow-down::after {
    content: '↓';
}

.s-inp {
    border: 0;
    color: #1976d2;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-bottom-width: 1px; 
    border-bottom-style: solid;
    appearance: none;
    outline: none;
    background: inherit;
}