.navbar {
    background-color: #5c6bc0;
}

hr {
    display: block;
    height: 1px;
    min-height: 1px;
    flex: 1;
    width: 100%;
}


#sidebar {
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 9999;
    background: white;
    overflow-y: auto;
    overflow-x: hidden;
    transition: left 0.3s;
}

@media (min-width: 300px){
    #sidebar {
        width: 295px;
        left: -295px;
    }
}

@media (min-width: 600px){
    #sidebar {
        width: 315px;
        left: -315px;
    }
}

@media (min-width: 900px){
    #sidebar {
        width: 325px;
        left: -325px;
    }
}

@media (min-width: 1200px){
    #sidebar {
        width: 335px;
        left: -335px;
    }
}

#sidebar.active {
    left: 0;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:  #212121;
}

.overlay.active {
    display: block;
    opacity: 0.5;
    z-index: 9998;
}

#sidebar .sidebar-header {
    background: #f5f5f5;
    width: 100%;
    margin-bottom: -17px;
    cursor: default;
}

.table tr {
    background: #f5f5f5;
    cursor: pointer;
}

.custom-navbar-toggler{
    width: 50px;
    height: 50px;
}


.custom-navbar-toggler:hover {
    background: rgba(245, 245, 245, 0.3);
}
.custom-navbar-toggler .line{
    width: 100%;
    float: left;
    height: 4px;
    background-color: #fff;
}

.custom-navbar-toggler .line:not(:last-child){
    margin-bottom: 5px;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255,65,255,.25);
}

.forw-arrow {
    width: 60px;
    height: 60px;
    border:none;
    background: inherit;
    transition: background .4s ease-out;
}

.forw-arrow:hover {
    background: lightgrey;
}

.forw-arrow:focus {
    outline: none;
}

#nav-title {
    width: 86vw;
}

.h1 {
    margin-bottom: 0px!important;
}