html {
    font-family: 'Monda', sans-serif;
}


body {
    background: #5c6bc0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mt-auto {
    margin-top: auto;
}

.container {
    padding: 50px;
    background: white;
    margin-top: 40px;
    width: 450px;
}

@media (max-width: 700px) {
    .container {
        width: 400px;
    }
}

@media (max-width: 550px) {
    .container {
        width: 300px;
    }
}

@media (max-width: 400px) {
    .container {
        padding: 10px;
        width: 280px;
    }
}

.justify-content-center {
    justify-content: center;
}

.form-control {
    margin: 10px;
}

h3 {
    color: lightgray;
    font-size: 20px;
}

.d-flex {
    display: flex;
}

.d-flex,.column {
    flex-direction: column;
}

.txt-field {
    border-style: solid;
    border-color: grey;
    border-radius: 2px;
    padding: 10px;
    transition: background .5s;
}

.txt-field:hover {
    background: lightgrey;
}

.txt-field:focus {
    background-color: white;
}

.btn {
    border-radius: 3px;
    border: none;
    padding: 10px;
    transition: all .5s;
}

.light-shadow {
    box-shadow: 3px 3px 15px grey;
}

.btn-primary {
    color: white;
    background: blue;
}

.btn-primary:hover {
    background: rgb(18, 18, 122);
}